# Backend
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Frontend
node_modules/
build/
.next/
.cache/

# Env
.env
.env.local

# OS / editor
.DS_Store
.idea/
.vscode/
*.swp
*.swo
